.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #580000;
    flex-direction:column;
    color: white;
    height: 100vh;
}
.header {
    padding-top: 20px;
    font-weight: 500;
    font-size: 50px;
    padding-bottom: 40px;
}
.projectsContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 85vw;
    margin: 0 auto;
}
.projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.projectContainer > img {
    height: 55vh;
    margin-bottom: .45rem;
    text-align:center;
}
.projectHeader {
    font-weight: 500;
    display: block;
    font-size: 24px;
    padding-bottom:10px;
    text-align: center;
}
.projectSkills {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.line {
    width: 1px;
    height: 12px;
    margin: 5px;
    display: inline-block;
    background-color: white;
}