.skillsContainer {
    background-color: white;
    color: black;
    font-weight:400 !important;
}
.header {
    font-weight: 500;
    padding-top: 30px;
    padding-bottom:30px;
    font-size: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 60px;
}
.skillsHeader {
    margin-bottom:10px;
    font-weight:400;
}
.skillsList > ul {
    list-style-type: square;
}
.skillsList > ul > li {
    margin-bottom:5px;

}
.skillsListContainer {
    display: flex;
    justify-content: space-evenly;
    /* width: 85vw; */
    margin: 0 auto;
}
.skillType {
    margin: 10px;
}
.resumeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:15px;
}
.resumeButton > a {
    background-color: #580000;
    color: white;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
}