.resumeItem {
    padding: 40px;
    background: #fff;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    border: 4px solid transparent;
    display:flex;
    flex-direction: column;
    text-decoration:none;
    height: 40vh;
    .date {
        display: flex;
        flex: 0.2 1 auto;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 5px;
        font-size: 12px;
        letter-spacing: .1em;
        color: #b3bdc6;
        text-transform: uppercase;
        img {
            margin-right: 5px;
            width: 14px;
            height: 14px;
            color: #b3bdc6;
        }

    }
    a.headerLink {
        flex: 0.2 1 auto;
        text-decoration: none;
        color: #2c3e50;
        font-weight: 200 !important;
        font-size: 1.75rem !important;
    }
    a.headerLink:hover {
        color: var(--primary-red);
    }
    a.headerLink:active {
        color: var(--primary-red);
    }
    p {
        flex: 0.4 1 auto;
        color: #798a9a;
        overflow: hidden;
    }
    .school {
        flex: 0.2 1 auto;
        display: block;
        font-size: 20px;
        color: #2c3e50;
    }
}