.button {
    color: #fff;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: .8rem;
    letter-spacing: .1em;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
a.hireButton {
    @extend .button;
    background-color: #580000;
    border-color: #580000;
    margin-right: 5px;
}
a.cvButton {
    @extend .button;
    background-color: #6c757d;
    border-color: #6c757d;
}
.aboutContainer {
    background-color: white;
    color: #798a9a;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    margin-top: 5em;
    margin-bottom: 3em;
    .imageContainer {
        height: 100vh;
        padding-right: 3em;
        flex: 0 0 58%;
        max-width: 58%;
        img {
            max-width: 100%;
            height: 100%;
        }
    }
    .textContainer {
        padding-left: 3em;
        flex: 0 0 41.6%;
        max-width: 41.6%;
        .section-heading {
            margin-bottom: 30px;
            position: relative;
            z-index: 10;
            h2 {
                color: #2c3e50;
                position:relative;
                font-weight: 200;
                font-size: 30px;
                padding-top: 20px;
                span {
                    font-weight: 800;
                }
            }
            p.pHeader {
                font-weight: 200;
                line-height: 1.5;
                color: #798a9a;
                font-size: 1.25rem;
            }
            p.pText {
                margin-bottom: 3rem;
                margin-top: 0;
                line-height: 1.7;
                color: #798a9a;
                font-size: 16px;
                font-weight: 300;
            }
            
            h2:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 2px;
                width: 50px;
                background: #580000;
                z-index: -1;
            }
        }
    }
}