:root {
    --primary-red: #580000;
}

.container {
    /* background-color: var(--primary-red); */
    display: flex;
    justify-content: flex-start;
    height: 6vh;
}
.logo {
    flex: 1 1 auto;
}
.linkContainer {
    flex: 1 1 auto;
}
.links {
    display: flex;
    padding-right: 5px;
}
.links a {
    margin: 10px;
    color: white;
    text-decoration: none;
}