.bannerContainer {
    height: 100vh;
    min-height: 800px;
    div {
        .bigBannerText {
            font-weight: 200;
            color: #fff;
            margin-bottom: 20px;
            display: block;
            // animation-name: fadeInUp;
            @media screen and (min-width: 786px) {
                font-size: 70px;    
            }
            strong {
                font-weight: 800;
            }
        }
        .smallBannerText {
            max-width: 640px;
            margin: 0 auto;
            color: rgba(255, 255, 255, 0.5);
            line-height: 2;
            font-weight: 200;
        }
    }
}
